body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.para{
  background-color: "#fff";
}
.top-container{

  width:100%;
  height: 250px;
  background-color:pink;
}
.bottom-container{
  width:100%;
  height: 300px;
  background-color:rgb(102, 101, 101);
}
